/* Imports */
@import "./components/responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #f4f6f8;
  --card-bg: #fff;
  --text-color: #252525;
}

.dark_mode {
  --body-bg: #121721;
  --card-bg: #19202d;
  --text-color: #f5f5f5;
}

body {
  font-family: "Kumbh Sans";
  color: #fff;
  background: var(--body-bg);
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
}

label {
  color: black;
  font-weight: 700;
}

i {
}

/* Section 1 - header */
.header {
  min-height: 20vh;
  background-image: url(../images/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Section 2 - search bar */
.search-bar {
  min-height: 10vh;
  margin: 0rem;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  .col-8,
  span,
  input {
    background: var(--card-bg);
    color: var(--text-color);
  }
  &.active > * {
    transition: all 0.5s ease-in-out;
    background: #19202d !important;
  }
  button {
    background: transparent;
    border: none;
    background: #5964e0;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
  }
  .col-md-4.active {
    background: #19202d !important;
  }
}

/* Section 3 - search result */
.results {
  margin-top: 7.5rem;
}

/* Toggle Button */
.toggle-btn {
  width: 4rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 2rem;
  padding: 0.25rem;
  margin-left: 2rem;
  cursor: pointer;
  .inner-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #5964e0;
    transition: all 0.5s ease-in-out;
  }
  &.active {
    & > .inner-circle {
      margin-left: 2.5rem;
      transition: all 0.5s ease-in-out;
    }
  }
}

/* section 4 fixed Popup */
.box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  .inner-box {
    width: 67.5%;
    background: var(--card-bg);
    color: var(--text-color);
    button {
      background: transparent;
      border: none;
      background: #5964e0;
      color: #fff;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
    }
    .col-8,
    span,
    input, label {
      background: var(--card-bg);
      color: var(--text-color);
    }
  }
}
